.bookmark__item:hover {
    transition: .2s ease-in;
    background-color: rgba(255, 255, 255, 0.5);
}

.bookmark__item:hover .bookmark__update{
    visibility: visible;
}


.bookmark__update {
    visibility:hidden;
}