.container {
    height: 500px;
    width: 500px;
    background-color:mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 100px;
    background-color: #ffffff;
  }